.chat {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messages-box {
  border: 1px solid black;
  height: 300px;
  width: 300px;
}
