.page-split-half {
  width: 45%;
  display: flex;
  flex-direction: column;
  column-count: 2;
  box-sizing: border-box;
}

.split-pages-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1.split-pages-header {
  width: 90%;
  font-size: 30pt;
  font-weight: 600;
  margin: 60px 0 20px 0;
}

.split-pages-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  height: 100%;
  min-height: 80vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  padding: 20px 0 0 50px;
}
