.image-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  height: 115px;
  /* border: 1px solid rgb(212, 212, 212); */
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding-left: 20px;
}

.image-card>h1,
.image-card>h2,
.image-card>div {
  font-size: 11pt;
  font-weight: 200;
  margin: 1px 0;
  color: grey;
}

.image-card>h2 {
  color: black;
  font-size: 12pt;
  font-weight: 300;
}
