.artwork-showcase-container {
  display: flex;
  white-space: nowrap;
  padding: 20px 0;
  border-top: 1px solid rgb(186, 186, 186);
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  height: 300px;
  margin-bottom: 20px;
  /* border-top: 1px solid black; */
}

.artwork-showcase-container-item {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  height: 100%;
  width: 20%;
  min-width: 250px;
  padding: 0 10px;
  text-decoration: none;
}

.showcase-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: auto;
  height: 100%;
  overflow: hidden;
}


@media screen and (max-width: 1330px) {
  .artwork-showcase-container {
    overflow-x: scroll;
  }
}
