.banner-container {
  width: 95%;
  height: 410px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  background-color: rgb(242, 250, 253);
  overflow: hidden;
  position: absolute;
}

#overlap-banner-hidden {
  transform: translateX(100%);
  transition: 1s ease-in-out;
}

#overlap-banner {
  transition: 1s ease-in-out;
}
