.single-page-full {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-page-small {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 77vh;
  max-height: auto;
  /* align-items: start; */
  margin: 20px 0 40px;
}
