.single-page-full {
  min-height: 90vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-page-small {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 45vh;
  max-height: 80vh;
  margin: 40px 0 40px;
  min-width: 1400px;
}

.single-page-section {
  display: flex;
  flex-direction: row;
  padding: 40px 0 40px;
  min-height: 10vh;
  box-sizing: border-box;
  justify-content: flex-end;
  margin: 20px 0 40px;
  min-width: 1400px;
}

@media screen and (max-width: 1400px) {
  .single-page-small {
    flex-direction: column;
    max-height: none;
    align-items: center;
    min-width: 700px;
  }

  .single-page-section {
    flex-direction: column;
    max-height: none;
    align-items: center;
    min-width: 700px;
  }

  .single-page-full {}
}
