/* TODO Add site wide styles */
:root {
  --site-sage: rgb(47, 102, 32);
  --site-gray: rgb(180, 180, 180);
}

body {
  font-family: 'Hlad', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  letter-spacing: 1px;
  min-width: 400px;
  box-sizing: border-box;
}
