.cart-container {
  width: 100%;
  min-width: 670px;
  padding: 20px 20px;
  box-sizing: border-box;
  min-height: 80vh;
}

.window {
  padding: 30px;
  box-sizing: border-box;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 10px;
  font-size: 10pt;
  font-weight: 200;
  justify-content: space-around;
  height: 100%;
}

.item-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 10px;
  font-size: 10pt;
  font-weight: 200;
  justify-content: space-around;
  height: 100%;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: 1px solid var(--site-gray);
  min-width: 670px;
}

.cart-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.quantity-control button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 10px;
}

.remove-button {
  margin-left: 20px;
}

.border {
  border: 1px solid var(--site-gray);
}

#sc-item-info {
  display: flex;
  padding: 10px;
  margin: 0 20px;
  min-width: 325px;
  box-sizing: border-box;
  height: 150px;
  align-items: center;
}

.item-remove {
  display: flex;
  margin-left: auto;
}

.payment-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 40px;
}

.payment-info-element {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 35px;
  color: black;
}

@media screen and (max-width: 1400px) {
  .cart-container {
    min-height: 500px;
  }
}
