.cart-container {
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  min-height: 80vh;
}

.window {
  padding: 30px;
  box-sizing: border-box;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: 1px solid var(--site-gray);
}

.cart-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.quantity-control button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 10px;
}

.remove-button {
  margin-left: 20px;
}

.border {
  border: 1px solid var(--site-gray);
}
