.image--artwork-preview,
.img-preview-wrapper {
  display: flex;
  height: auto;
}

.img-preview-wrapper {
  width: auto;
  max-height: 100%;
}

.img-feature-banner {
  width: 50%;
}

.img-preview {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.image--artwork-preview {
  max-height: 100%;
  width: auto;
}

.img--medium-wrapper {
  height: 150px;
  width: auto;
}

.img--preview-medium {
  max-height: 100%;
}

.img-preview-wrapper-big {
  max-height: 100%;
}
