:root {
  --primary: white;
}

.btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.btn-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 14px;
}

.btn--splash {
  padding: 8px 20px;
  font-size: 16px;
  width: 240px;
  height: 40px;
}

.btn--demo {
  border-radius: 1.5rem;
  background-color: black;
  transition: 0.3s;
  color: white;
}

.btn--primary {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--demo:enabled:hover {
  background-color: var(--site-sage);
  box-shadow: -2px 2px 8px -3px black;
  transition: 0.3s;
}

.btn--login {
  border-radius: 1.5rem;
  background-color: white;
  transition: 0.3s;
  color: black;
  box-sizing: border-box;
  border: 1px solid black;
}

.btn--wide {
  width: 425px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 1.5rem;
}

.btn--login:enabled:hover {
  transition: 0.3s;
  background-color: var(--site-sage);
  box-shadow: -2px 2px 8px -3px black;
  color: white;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: default;
}

.btn--small {
  padding: 3px 12px;
  font-size: 12px;
  height: 30px;
  width: 95px;
}

button.btn--dropdown {
  all: unset;
  background: transparent;
  width: 100px;
  font-size: 13px;
  font-weight: 300;
  color: #212121;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}


.btn--login.btn--small,
.btn--demo.btn--small {
  margin-left: 10px;
}

button.btn--dropdown:hover {
  color: var(--site-sage);
  transition: 0.5s;
}

#banner-button {
  justify-content: flex-start;

}
